

#home-intro{
	background-image: url('../images/home-intro-bg.jpg');
	height: 100vh;
	padding: 0;

	h2{
		font-family: Myriad Pro;
		font-size: 4em;
		text-align: center;
		padding-top: 25vh;

		dt{
			text-indent: -9999em;
			background: url('../images/point-logo-large.png') bottom center no-repeat; 
			background-size: contain;
			height: 300px;
			margin-bottom: 5%;
		}
	}
		


}

#home-worship{
	background-image: url('../images/home-worshop.jpg');
}

#home-sermons{
	background-image: url('../images/home-sermons.jpg');
}

#home-leadership{
	background-image: url('../images/home-leadership.jpg');
}

#home-kids{
	position: relative;
	overflow: hidden;

	.paint-splatter{

		span{ 
			display: block; 
			position: absolute;
  			height: 100%;
  			width: 100%;
  			top: 0;
  			left: 0;
  			background-attachment: fixed;
  			background-repeat: no-repeat;

		}

		#orange{
			/*height: 296px;
			width: 237px;
			top: -85px;
			left: 120px;*/
			background-image: url('../images/home-kids-paint-orange.png');
			z-index: 1;
			background-position: 8% 14%;
		}

		#purple{
			background-image: url('../images/home-kids-paint-purple.png');
			/*height: 680px;
			width: 538px;
			top: -60px;
			left: 0;*/
			background-position: 0 10%;
		}

		#green{
			background-image: url('../images/home-kids-paint-green.png');
			/*height: 325px;
 			width: 579px;
  			right: 0px;
  			top: -105px;*/
  			background-position: 100% 15%;
		}

		#pink{
			background-image: url('../images/home-kids-paint-pink.png');
			/*height: 224px;
  			width: 209px;
  			bottom: 20px;
  			right: 10px;*/
  			background-position: 95% 95%;
		}

		#pink2{
			background-image: url('../images/home-kids-paint-pink-2.png');
			//height: 155px;
  			//width: 158px;
  			//bottom: 40px;
  			//right: 160px;
  			background-position: 85% 90%;
		}

	}
}



	#home-locations{

		.locations{
			margin-bottom: 4em;

			li{
				display: inline-block;
				width: 24%;
				text-align: center;
				background: url('../images/home-locations-apex.png') no-repeat  top center;
				padding-top: 170px;
			}

			dt{
				font-size: 2em;
				color: $point-blue;
			}
		}

	}

	#map-canvas{
		height: 100vh;

		.campus-name{
			font-size: 1.4em;
			margin-bottom: 1em;
		}
	}