/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_global.scss */
body {
  font-family: Myriad Pro;
}

/* line 7, ../sass/_global.scss */
.section-head {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6em;
  margin-bottom: .5em;
}

/* line 16, ../sass/_global.scss */
.section-head-desc {
  font-size: 3em;
  text-align: center;
  color: #00a0c6;
  margin-bottom: 2em;
  margin-top: -1em;
}

/* line 24, ../sass/_global.scss */
p {
  line-height: 1.6em;
  font-size: 1.2em;
  margin-bottom: 1.6em;
}

/* line 30, ../sass/_global.scss */
small {
  font-size: .8em;
  line-height: 1.4em;
  margin: 0 1em 0 0;
  color: #666;
  font-weight: 100;
}

/* line 38, ../sass/_global.scss */
a {
  color: #00a0c6;
}
/* line 38, ../sass/_global.scss */
a:hover {
  color: #00b5e0;
}

/* line 40, ../sass/_global.scss */
strong {
  font-weight: bold;
}

/* line 44, ../sass/_global.scss */
em {
  font-style: italic;
}

/* line 48, ../sass/_global.scss */
h5 {
  font-weight: 800;
  font-size: 1.4em;
  margin: 3em 0 1em;
}

/* line 54, ../sass/_global.scss */
.scripture {
  padding: 2em;
  background: #00a0c6;
  color: #fff;
}
/* line 59, ../sass/_global.scss */
.scripture small {
  color: #47dcff;
  display: block;
}

/* line 65, ../sass/_global.scss */
.buttons {
  text-align: center;
  margin-top: 1em;
}
/* line 69, ../sass/_global.scss */
.buttons .button {
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  padding: .75em 2em;
  margin: 1em;
  display: inline-block;
  clear: both;
  font-size: 1.6em;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  line-height: 1.4em;
}
/* line 81, ../sass/_global.scss */
.buttons .button.small {
  padding: .5em 1.5em;
  font-size: 1.2em;
}
/* line 86, ../sass/_global.scss */
.buttons .button:hover {
  color: #00a0c6 !important;
  border-color: #00a0c6 !important;
}

/* line 98, ../sass/_global.scss */
section {
  padding: 4em 0;
  background-size: cover;
}
/* line 103, ../sass/_global.scss */
section.photo {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20vh 0;
  color: #fff;
  background-color: #007793;
}
/* line 113, ../sass/_global.scss */
section.photo .buttons .button {
  border: 1px solid #fff;
  color: #fff;
}
/* line 117, ../sass/_global.scss */
section.photo .buttons .button:hover {
  background: rgba(0, 0, 0, 0.75);
}
/* line 125, ../sass/_global.scss */
section .wrapper {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
}

/* line 137, ../sass/_global.scss */
ol.styled-list li {
  list-style: decimal;
}

/* line 146, ../sass/_global.scss */
ul.styled-list > li {
  background: url("../images/point-bullet.png") no-repeat top left;
  padding-left: 30px;
  margin-left: -48px;
}

/* line 154, ../sass/_global.scss */
.styled-list {
  padding-left: 1.25em;
}
/* line 157, ../sass/_global.scss */
.styled-list li {
  line-height: 1.6em;
  margin-bottom: 1em;
  font-size: 1.2em;
}
/* line 162, ../sass/_global.scss */
.styled-list li ul {
  margin-top: 1em;
  margin-bottom: 2em;
}
/* line 166, ../sass/_global.scss */
.styled-list li ul li {
  display: inline-block;
  font-size: .8em;
  line-height: 1.4em;
  margin: 0 1em 0 0;
  color: #666;
  font-weight: 100;
}
/* line 176, ../sass/_global.scss */
.styled-list li strong {
  color: #00a0c6;
  display: block;
}

/* line 184, ../sass/_global.scss */
.float-left {
  float: left;
}

/* line 185, ../sass/_global.scss */
.float-right {
  float: right;
}

/* line 187, ../sass/_global.scss */
.standard-header {
  padding-top: 8em;
  padding-bottom: 2em;
}

/* line 192, ../sass/_global.scss */
.breadcrumbs {
  background: #00a0c6;
  color: #fff;
  text-align: center;
  padding: .5em 0;
  font-size: .8em;
  font-weight: 100;
}
/* line 201, ../sass/_global.scss */
.breadcrumbs a {
  color: #fff;
  text-decoration: none;
}
/* line 205, ../sass/_global.scss */
.breadcrumbs a:hover {
  color: #c6f4ff;
}

/* line 212, ../sass/_global.scss */
.alignleft {
  float: left;
  margin-right: 2em;
  clear: left;
}

/* line 218, ../sass/_global.scss */
.alignright {
  float: right;
  margin-left: 2em;
  clear: right;
}

@media screen and (max-width: 820px) {
  /* line 225, ../sass/_global.scss */
  .section-head {
    font-size: 3em;
    margin-bottom: 1em;
  }

  /* line 230, ../sass/_global.scss */
  .section-head-desc {
    font-size: 1.6em;
  }

  /* line 234, ../sass/_global.scss */
  .buttons .button {
    float: none;
    margin: .5em;
    font-size: 1.2em;
  }

  /* line 240, ../sass/_global.scss */
  .alignleft, .alignright {
    float: none;
    margin: 0 0 2em;
    width: 100%;
    height: auto;
  }
}
/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 2em;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../sass/_header.scss */
header h1 {
  text-indent: -9999em;
  background: url("../images/point-logo-header.png") 0 0 no-repeat;
  width: 145px;
  height: 67px;
  float: left;
  margin: 1em 0;
  background-size: 100%;
}
/* line 21, ../sass/_header.scss */
header nav {
  float: right;
  font-family: Myriad Pro;
  width: 75%;
  margin-right: 2em;
}
/* line 28, ../sass/_header.scss */
header nav .menu-global-navigation-container {
  float: right;
}
/* line 32, ../sass/_header.scss */
header nav ul li {
  font-size: 1.2em;
  display: inline;
}
/* line 38, ../sass/_header.scss */
header nav ul li.current-menu-item a, header nav ul li.current-page-ancestor a {
  color: #fff;
}
/* line 43, ../sass/_header.scss */
header nav ul li.menu-item-type-custom a {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  background: url(../images/search-icon.png) no-repeat center;
  text-indent: -9999em;
  padding: 2.15em 3em;
}
/* line 52, ../sass/_header.scss */
header nav ul li a {
  color: #ccc;
  text-decoration: none;
  padding: 2.15em 2em;
  display: inline-block;
}
/* line 58, ../sass/_header.scss */
header nav ul li a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 66, ../sass/_header.scss */
header nav .search-link {
  display: inline-block;
}
/* line 71, ../sass/_header.scss */
header.past-intro, header.opaque {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1300px) {
  /* line 81, ../sass/_header.scss */
  header h1 {
    width: 120px;
    height: 52px;
  }
  /* line 86, ../sass/_header.scss */
  header nav {
    width: 85%;
  }
  /* line 92, ../sass/_header.scss */
  header nav ul li.menu-item-type-custom a {
    padding: 1.7em 2.5em;
  }
  /* line 97, ../sass/_header.scss */
  header nav ul li a {
    padding: 1.7em 1.5em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 109, ../sass/_header.scss */
  header {
    position: static;
    text-align: center;
    background: #333;
    padding: 0;
  }
  /* line 115, ../sass/_header.scss */
  header h1 {
    float: none;
    margin: 2em auto 1em;
  }
  /* line 116, ../sass/_header.scss */
  header nav {
    float: none;
    margin: 0 auto;
  }
  /* line 120, ../sass/_header.scss */
  header nav .menu-global-navigation-container {
    float: none;
  }
}
@media screen and (max-width: 820px) {
  /* line 127, ../sass/_header.scss */
  header nav {
    width: 100%;
  }
  /* line 130, ../sass/_header.scss */
  header nav ul li {
    display: block;
  }
  /* line 133, ../sass/_header.scss */
  header nav ul li a {
    padding: .5em;
  }
}
/* line 1, ../sass/_footer.scss */
footer {
  background: #333;
  padding: 2em;
  color: #999;
  font-weight: 100;
  overflow: hidden;
  *zoom: 1;
}
/* line 8, ../sass/_footer.scss */
footer .footer-title {
  background: url(../images/footer-logo.png) no-repeat 0 0;
  text-indent: -9999em;
  height: 66px;
  width: 150px;
}
/* line 15, ../sass/_footer.scss */
footer .footer-address {
  margin-top: 2em;
  line-height: 1.4em;
  font-size: 1.2em;
  font-weight: 100;
}
/* line 22, ../sass/_footer.scss */
footer .footer-utilities {
  clear: both;
  border-top: 1px solid #999;
  margin-top: 1em;
  padding-top: 1em;
}
/* line 28, ../sass/_footer.scss */
footer .footer-utilities .button {
  width: 15%;
  border: 1px solid #999;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  color: #999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 37, ../sass/_footer.scss */
footer .footer-utilities .button:hover {
  background: #444;
}
/* line 42, ../sass/_footer.scss */
footer .footer-utilities .copyright {
  float: left;
  text-align: center;
  width: 64%;
  padding-top: 1%;
}
/* line 48, ../sass/_footer.scss */
footer .footer-utilities .copyright a {
  color: #ccc;
}

@media screen and (max-width: 820px) {
  /* line 56, ../sass/_footer.scss */
  footer {
    text-align: center;
  }
  /* line 59, ../sass/_footer.scss */
  footer .footer-title {
    margin: 0 auto;
  }
  /* line 65, ../sass/_footer.scss */
  footer .footer-utilities .button {
    float: none !important;
    display: block;
    width: 80%;
    padding: .5em;
    margin: 1em auto;
  }
  /* line 73, ../sass/_footer.scss */
  footer .footer-utilities .copyright {
    float: none;
    width: 80%;
    margin: 0 auto;
  }
}
/* line 3, ../sass/_home.scss */
#home-intro {
  background-image: url("../images/welcome-bg.jpg");
  height: 100vh;
  padding: 0;
}
/* line 8, ../sass/_home.scss */
#home-intro h2 {
  font-family: Myriad Pro;
  font-size: 4em;
  text-align: center;
  padding-top: 25vh;
}
/* line 14, ../sass/_home.scss */
#home-intro h2 dt {
  text-indent: -9999em;
  background: url("../images/point-logo-large.png") bottom center no-repeat;
  background-size: contain;
  height: 300px;
  margin-bottom: 5%;
}

/* line 27, ../sass/_home.scss */
#home-worship {
  background-image: url("../images/worship-bg.jpg");
}

/* line 31, ../sass/_home.scss */
#home-sermons {
  background-image: url("../images/sermons-bg.jpg");
}

/* line 35, ../sass/_home.scss */
#home-leadership {
  background-image: url("../images/leadership-bg.jpg");
}

/* line 39, ../sass/_home.scss */
#home-kids {
  position: relative;
  overflow: hidden;
}
/* line 43, ../sass/_home.scss */
#home-kids .buttons {
  position: relative;
  z-index: 2;
}
/* line 50, ../sass/_home.scss */
#home-kids .paint-splatter span {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* line 62, ../sass/_home.scss */
#home-kids .paint-splatter #orange {
  /*height: 296px;
  width: 237px;
  top: -85px;
  left: 120px;*/
  background-image: url("../images/home-kids-paint-orange.png");
  z-index: 1;
  background-position: 8% 14%;
}
/* line 72, ../sass/_home.scss */
#home-kids .paint-splatter #purple {
  background-image: url("../images/home-kids-paint-purple.png");
  /*height: 680px;
  width: 538px;
  top: -60px;
  left: 0;*/
  background-position: 0 10%;
}
/* line 81, ../sass/_home.scss */
#home-kids .paint-splatter #green {
  background-image: url("../images/home-kids-paint-green.png");
  			/*height: 325px;
   			width: 579px;
    			right: 0px;
    			top: -105px;*/
  background-position: 100% 15%;
}
/* line 90, ../sass/_home.scss */
#home-kids .paint-splatter #pink {
  background-image: url("../images/home-kids-paint-pink.png");
  			/*height: 224px;
    			width: 209px;
    			bottom: 20px;
    			right: 10px;*/
  background-position: 95% 95%;
}
/* line 99, ../sass/_home.scss */
#home-kids .paint-splatter #pink2 {
  background-image: url("../images/home-kids-paint-pink-2.png");
  background-position: 85% 90%;
}

/* line 117, ../sass/_home.scss */
#home-locations .locations {
  margin-bottom: 4em;
}
/* line 120, ../sass/_home.scss */
#home-locations .locations a {
  text-decoration: none;
}
/* line 122, ../sass/_home.scss */
#home-locations .locations a dd {
  color: #333;
}
/* line 125, ../sass/_home.scss */
#home-locations .locations li {
  display: inline-block;
  width: 24%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 170px;
}
/* line 133, ../sass/_home.scss */
#home-locations .locations li.apex {
  background-image: url(../images/apex-icon.jpg);
}
/* line 137, ../sass/_home.scss */
#home-locations .locations li.cary {
  background-image: url(../images/cary-icon.jpg);
}
/* line 141, ../sass/_home.scss */
#home-locations .locations li.espanol {
  background-image: url(../images/espanol-icon.jpg);
}
/* line 145, ../sass/_home.scss */
#home-locations .locations li.raleigh {
  background-image: url(../images/raleigh-icon.jpg);
}
/* line 150, ../sass/_home.scss */
#home-locations .locations dt {
  font-size: 2em;
  color: #00a0c6;
}

/* line 158, ../sass/_home.scss */
#map-canvas {
  display: none;
  height: 600px;
}
/* line 162, ../sass/_home.scss */
#map-canvas.expand {
  display: block;
}
/* line 166, ../sass/_home.scss */
#map-canvas .campus-name {
  font-size: 1.4em;
  margin-bottom: 1em;
}

@media screen and (max-width: 820px) {
  /* line 178, ../sass/_home.scss */
  #home-intro {
    height: auto;
    padding: 2em 0;
  }
  /* line 182, ../sass/_home.scss */
  #home-intro h2 {
    padding: 0 0 2em;
    font-size: 2.5em;
    line-height: 1.2em;
  }
  /* line 187, ../sass/_home.scss */
  #home-intro h2 dt {
    margin-bottom: 2em;
  }

  /* line 195, ../sass/_home.scss */
  #home-kids .paint-splatter span {
    z-index: -1 !important;
  }

  /* line 200, ../sass/_home.scss */
  #home-locations .locations li {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }
}
/*STYLES FOR LOCATION ARCHIVE */
/* line 7, ../sass/_locations.scss */
.locations .list {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.locations .list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/_locations.scss */
.locations .list a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 15, ../sass/_locations.scss */
.locations .list a:hover {
  color: #00a0c6;
}
/* line 19, ../sass/_locations.scss */
.locations .list-item {
  width: 21%;
  margin: 0 2%;
  float: left;
  text-align: center;
}
/* line 25, ../sass/_locations.scss */
.locations .list-item .post-title {
  font-size: 1.4em;
  margin-top: 1em;
  font-weight: bold;
}

/* STYLES FOR LOCATION SINGLE */
/* line 38, ../sass/_locations.scss */
.page-header.promo {
  padding-top: 12em;
  padding-bottom: 4em;
}
/* line 42, ../sass/_locations.scss */
.page-header.promo h2 {
  text-shadow: 0 0 10px #000;
}
/* line 48, ../sass/_locations.scss */
.page-header .page-title {
  font-size: 6em;
  margin-top: .25em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 10px black;
}

/* line 59, ../sass/_locations.scss */
#campus-welcome {
  overflow: hidden;
  *zoom: 1;
}
/* line 63, ../sass/_locations.scss */
#campus-welcome .video {
  float: left;
  width: 45%;
  margin-right: 5%;
}
/* line 68, ../sass/_locations.scss */
#campus-welcome .video * {
  width: 100%;
}

/* line 74, ../sass/_locations.scss */
#campus-sermon {
  background-image: url("../images/home-sermons.jpg");
}
/* line 78, ../sass/_locations.scss */
#campus-sermon .audio {
  float: left;
  width: 25%;
  background: url("../images/audio-player.png") no-repeat center;
  height: 106px;
}

/* line 95, ../sass/_locations.scss */
#campus-visit .map-info {
  position: relative;
}
/* line 98, ../sass/_locations.scss */
#campus-visit .map-info #map-canvas {
  width: 100%;
  display: block;
  margin: 0;
  border: 2px solid #00a0c6;
}
/* line 105, ../sass/_locations.scss */
#campus-visit .map-info .location-info {
  position: absolute;
  top: 2px;
  right: -2px;
  background: rgba(255, 255, 255, 0.85);
  border-left: 2px solid #00a0c6;
  border-bottom: 2px solid #00a0c6;
  color: #333;
  padding: 4em 4em 4em 6em;
  background-image: url("../images/map-icon.svg");
  background-repeat: no-repeat;
  background-position: 1em center;
  background-size: 75px;
}
/* line 119, ../sass/_locations.scss */
#campus-visit .map-info .location-info p {
  margin: 0;
}
/* line 123, ../sass/_locations.scss */
#campus-visit .visit-questions {
  clear: both;
  padding-top: 2em;
}
/* line 127, ../sass/_locations.scss */
#campus-visit .visit-questions .location-info {
  padding: 2em 0;
  background-size: 75px;
  margin: 1em 0;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 136, ../sass/_locations.scss */
#campus-visit .visit-questions .location-info .question-title span {
  background-image: url("../images/map-icon.svg");
}
/* line 142, ../sass/_locations.scss */
#campus-visit .visit-questions .location-info p {
  margin: 0;
}
/* line 147, ../sass/_locations.scss */
#campus-visit .visit-questions .question {
  width: 45%;
  padding: 2.5%;
  float: left;
}
/* line 152, ../sass/_locations.scss */
#campus-visit .visit-questions .question:nth-child(2n+1) {
  clear: left;
}
/* line 156, ../sass/_locations.scss */
#campus-visit .visit-questions .question .question-title {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#campus-visit .visit-questions .question .question-title:after {
  content: "";
  display: table;
  clear: both;
}
/* line 161, ../sass/_locations.scss */
#campus-visit .visit-questions .question-title {
  font-size: 2em;
  margin-bottom: 1em;
}
/* line 165, ../sass/_locations.scss */
#campus-visit .visit-questions .question-title span {
  background-image: url("../images/clock-icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: .25em;
  position: relative;
  top: -12.5px;
  float: left;
}
/* line 178, ../sass/_locations.scss */
#campus-visit .visit-questions .question-title.park span {
  background-image: url("../images/car-icon.svg");
}
/* line 179, ../sass/_locations.scss */
#campus-visit .visit-questions .question-title.wear span {
  background-image: url("../images/tshirt-icon.svg");
}
/* line 180, ../sass/_locations.scss */
#campus-visit .visit-questions .question-title.kids span {
  background-image: url("../images/lollipop-icon.svg");
}

/* line 186, ../sass/_locations.scss */
#campus-events {
  background-image: url("../images/events-texture.jpg");
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#campus-events:after {
  content: "";
  display: table;
  clear: both;
}
/* line 191, ../sass/_locations.scss */
#campus-events .event {
  float: left;
  text-align: center;
  width: 21%;
  margin: 0 2%;
  position: relative;
}
/* line 198, ../sass/_locations.scss */
#campus-events .event a {
  color: #fff;
}
/* line 200, ../sass/_locations.scss */
#campus-events .event .event-image {
  height: 200px;
  background-size: cover;
  display: block;
  background-position: center;
}
/* line 208, ../sass/_locations.scss */
#campus-events .event:hover .short-description {
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 214, ../sass/_locations.scss */
#campus-events .event .event-title {
  font-size: 1.5em;
  margin-top: 1em;
}
/* line 219, ../sass/_locations.scss */
#campus-events .event .event-date, #campus-events .event .event-time {
  font-size: 1.2em;
  margin-top: .5em;
}
/* line 224, ../sass/_locations.scss */
#campus-events .event .short-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: 1em;
  line-height: 1.4em;
  opacity: 0;
  height: 175px;
}
/* line 237, ../sass/_locations.scss */
#campus-events .event img {
  width: 100%;
}
/* line 246, ../sass/_locations.scss */
#campus-events .buttons {
  clear: both;
}

/* line 252, ../sass/_locations.scss */
#campus-staff {
  padding: 6em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 256, ../sass/_locations.scss */
#campus-staff .staff-list {
  margin-bottom: 2em;
}
/* line 259, ../sass/_locations.scss */
#campus-staff .staff-list li {
  width: 25%;
  float: left;
  text-align: center;
}
/* line 265, ../sass/_locations.scss */
#campus-staff .staff-list img {
  width: 150px;
  height: 150px;
  margin-bottom: 1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 272, ../sass/_locations.scss */
#campus-staff .staff-list dt {
  font-size: 1.4em;
  margin-bottom: .25em;
}
/* line 277, ../sass/_locations.scss */
#campus-staff .staff-list dd {
  font-size: 1em;
}

/* line 283, ../sass/_locations.scss */
#campus-social {
  background-image: url("../images/events-texture.jpg");
  overflow: hidden;
}
/* line 286, ../sass/_locations.scss */
#campus-social .wrapper {
  width: 80%;
  max-width: none;
}
/* line 292, ../sass/_locations.scss */
#campus-social .instagram img {
  width: 16.166666667%;
  float: left;
  padding: .25%;
  opacity: .8;
}
/* line 298, ../sass/_locations.scss */
#campus-social .instagram img:hover {
  opacity: 1;
}

/* line 3, ../sass/_page.scss */
.page-section-head span {
  display: block;
}

/* line 7, ../sass/_page.scss */
.page-section-subhead {
  font-size: 1.8em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/* line 16, ../sass/_page.scss */
.page section {
  padding: 4em 0;
}

/* line 24, ../sass/_page.scss */
.mission, .vision, .values {
  margin-bottom: 6em;
}

/* line 26, ../sass/_page.scss */
.mission {
  background: url("../images/mission.png") no-repeat 0 0;
  padding-left: 250px;
  margin-left: -250px;
  min-height: 140px;
}

/* line 33, ../sass/_page.scss */
.vision {
  background: url("../images/vision.jpeg") no-repeat 0 0;
  padding-left: 250px;
  margin-left: -250px;
  min-height: 160px;
}

/* line 40, ../sass/_page.scss */
.values {
  background: url("../images/values.jpeg") no-repeat 0 0;
  padding-left: 250px;
  margin-left: -250px;
}

/* line 47, ../sass/_page.scss */
#staff {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#staff:after {
  content: "";
  display: table;
  clear: both;
}
/* line 50, ../sass/_page.scss */
#staff .profiles {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#staff .profiles:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/_page.scss */
#staff li {
  width: 16%;
  margin: 2%;
  float: left;
}
/* line 59, ../sass/_page.scss */
#staff li:nth-child(5n+1) {
  clear: left;
}
/* line 61, ../sass/_page.scss */
#staff li dl {
  text-align: center;
  margin-top: 1em;
  line-height: 1.4em;
}
/* line 66, ../sass/_page.scss */
#staff li dl dt {
  color: #00a0c6;
  font-size: 1.2em;
}
/* line 68, ../sass/_page.scss */
#staff li dl .location {
  color: #666;
  font-weight: 100;
}
/* line 74, ../sass/_page.scss */
#staff li img {
  width: 100%;
}

@media screen and (max-width: 1460px) {
  /* line 82, ../sass/_page.scss */
  #mission-vision-values .mission, #mission-vision-values .vision, #mission-vision-values .values {
    background: none;
    min-height: 0;
  }
}
/* line 89, ../sass/_page.scss */
.page-header {
  background: #333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 10em 0 4em;
}
/* line 99, ../sass/_page.scss */
.page-header .header-filter {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 110, ../sass/_page.scss */
.page-header .wrapper {
  position: relative;
}

/* line 120, ../sass/_page.scss */
.page .featured-video, .styled-page .featured-video {
  background: #008bad;
  padding: 2em;
  text-align: center;
  display: block;
}
/* line 127, ../sass/_page.scss */
.page h3, .styled-page h3 {
  font-size: 4em;
  font-weight: 100;
  color: #00a0c6;
  padding-bottom: .25em;
  margin-bottom: 1em;
  border-bottom: 1px solid #333;
  line-height: 1.2em;
}
/* line 136, ../sass/_page.scss */
.page h3 strong, .styled-page h3 strong {
  font-weight: 100;
}
/* line 137, ../sass/_page.scss */
.page h3 em, .styled-page h3 em {
  font-style: normal;
}
/* line 140, ../sass/_page.scss */
.page h4, .styled-page h4 {
  font-size: 1.8em;
  font-weight: 100;
  margin-bottom: 1em;
}
/* line 146, ../sass/_page.scss */
.page p + h3, .page ul + h3, .page ol + h3, .page .buttons + h3, .styled-page p + h3, .styled-page ul + h3, .styled-page ol + h3, .styled-page .buttons + h3 {
  margin-top: 1em;
}

/* line 153, ../sass/_page.scss */
.page section ul {
  margin-bottom: 2em;
}
/* line 155, ../sass/_page.scss */
.page section ul li {
  list-style: disc;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: 2em;
}
/* line 163, ../sass/_page.scss */
.page section ol {
  margin-bottom: 2em;
}
/* line 165, ../sass/_page.scss */
.page section ol li {
  list-style: decimal;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: 2em;
}

/* line 176, ../sass/_page.scss */
.page .tiles {
  *zoom: 1;
  margin: 0;
  padding: 0;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page .tiles:after {
  content: "";
  display: table;
  clear: both;
}
/* line 183, ../sass/_page.scss */
.page .tiles .tile {
  float: left;
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: center;
}
/* line 190, ../sass/_page.scss */
.page .tiles .tile.two-by {
  width: 50%;
}
/* line 194, ../sass/_page.scss */
.page .tiles .tile.three-by {
  width: 33.3333%;
}
/* line 198, ../sass/_page.scss */
.page .tiles .tile .tile-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 209, ../sass/_page.scss */
.page .tiles .tile img {
  width: 100%;
}
/* line 211, ../sass/_page.scss */
.page .tiles .tile h3 {
  font-size: 1.6em;
  text-align: center;
  padding: 0;
  position: relative;
  color: #000;
  margin: .5em 0 0;
  line-height: 1.2em;
  border: 0;
  background: rgba(255, 255, 255, 0.75);
  padding: .5em 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 226, ../sass/_page.scss */
.page .tiles .tile:hover .tile-filter {
  background: rgba(255, 255, 255, 0);
}
/* line 230, ../sass/_page.scss */
.page .tiles .tile:hover h3 {
  background: #00a0c6;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  /* line 242, ../sass/_page.scss */
  .page h3, .styled-page h3 {
    font-size: 3em;
  }

  /* line 247, ../sass/_page.scss */
  .page-header {
    padding: 2em 0;
  }
  /* line 250, ../sass/_page.scss */
  .page-header .page-title {
    font-size: 4em;
  }

  /* line 255, ../sass/_page.scss */
  .section-head {
    font-size: 4em;
  }

  /* line 259, ../sass/_page.scss */
  #campus-visit .map-info .location-info {
    padding: 2em;
    background-image: none;
  }

  /* line 264, ../sass/_page.scss */
  #staff li {
    width: 29%;
  }
  /* line 268, ../sass/_page.scss */
  #staff li:nth-child(5n+1) {
    clear: none;
  }
  /* line 272, ../sass/_page.scss */
  #staff li:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (max-width: 820px) {
  /* line 282, ../sass/_page.scss */
  .page h3, .styled-page h3 {
    font-size: 2.4em;
  }

  /* line 287, ../sass/_page.scss */
  iframe {
    width: 100% !important;
    height: 250px;
  }

  /* line 292, ../sass/_page.scss */
  .page-header {
    padding: 2em 0;
  }
  /* line 295, ../sass/_page.scss */
  .page-header .page-title {
    font-size: 2em;
  }

  /* line 300, ../sass/_page.scss */
  #campus-visit .map-info .location-info {
    position: static;
    border: none;
    border-bottom: 2px solid #00a0c6;
    width: auto;
    padding: 1em 0;
    margin-bottom: 2em;
  }

  /* line 309, ../sass/_page.scss */
  #campus-visit .visit-questions .question {
    float: none;
    width: 100%;
  }

  /* line 314, ../sass/_page.scss */
  #campus-visit .visit-questions .question-title {
    font-size: 1.4em;
  }

  /* line 321, ../sass/_page.scss */
  .page .tiles a {
    text-decoration: none;
  }
  /* line 323, ../sass/_page.scss */
  .page .tiles .tile.two-by, .page .tiles .tile.three-by {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }
  /* line 330, ../sass/_page.scss */
  .page .tiles .tile h3 {
    margin: 0;
  }

  /* line 336, ../sass/_page.scss */
  #staff li {
    width: 46%;
  }
  /* line 339, ../sass/_page.scss */
  #staff li:nth-child(3n+1) {
    clear: none;
  }
  /* line 343, ../sass/_page.scss */
  #staff li:nth-child(5n+1) {
    clear: none;
  }
  /* line 347, ../sass/_page.scss */
  #staff li:nth-child(2n+1) {
    clear: left;
  }
}
