.events{

	section{
		@include pie-clearfix;
	}

	.details{
		border: 2px solid #aaa;
		padding: 0 2em;
		width: 30%;
		background: $point-blue;
		float: left;
		position: relative;
		color: #fff;
		font-weight: 100;

		h4{
			font-size: 1.4em;
			background: lighten($point-blue, 10%);
			color: #fff;
			width: 100%;
			position: absolute;
			left: 0;
			top: 1em;
			padding: .5em 0;

		}

		dl{
			margin: 2em 0;
			font-size: 1.2em;
			background: url('../images/date-icon.svg') no-repeat -15px 0;
			background-size: 70px;
			padding-left: 60px;


			dt, dd{
				margin-bottom: .25em;
				line-height: 1.2em;
				
			}
		}
	}

	.event-contact{
		padding: 2em;
		border: 1px solid #aaa;

		span{
			font-weight: 100;
			font-size: 1.2em;
		}
	}

	.content{
		float: right;
		width: 60%;
	}

	.events-archive.list-item{

		a{
			width: 20%;
			float: left;
			margin: 2em 2.5%;
			display: block;
			position: relative;

			span{
				opacity: 0;
				@include transition(opacity .5s);
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: #aaa;
				background: rgba(0,0,0,.75);
				color: #fff;
				text-decoration: none;
				border-radius: 5%;
				padding: 1em;
				box-sizing: border-box;
				line-height: 1.4em;
				font-weight: 100;

				.event-header{
					color: $point-blue;
					margin-top: 1em;
					display: block;
				}
			}

			img{
				width: 100%;
				border-radius: 5%;
			}

			&:hover{

				span{
					opacity: 1;
				}
			}
		}

	}

}

@media screen and (max-width: 1024px){
	.events{
		.details{
			float: none;
			width: 70%;
			margin: 1em auto;
		}

		.content{
			float: none;
			width: 70%;
			margin: 2em auto;
		}
	}
}

@media screen and (max-width: 400px){
	.events{
		.details{
			dl{
				background: none;
				padding: 0;
			}
		}

		.content{
			width: 100%;
		}

		.event-contact{
			border: none;
			padding: 0;
		}
	}
}