#home-intro{
	background-image: url('../images/home-intro-new-bg-600.jpg');
	height: 100vh;
	padding: 0;

	h2{
		font-family: 'myriad-pro';
		font-size: 4em;
		text-align: center;
		padding-top: 30vh;

		dt{
			text-indent: -9999em;
			background: url('../images/point-logo-large.png') bottom center no-repeat; 
			background-size: contain;
			height: 225px;
			margin-bottom: 1%;
		}

		dd{
			font-size: .8em;
		}
	}
		


}

#home-grow-daily{
	background-image: url('../images/grow-daily-bg-600.jpg');
	background-size: cover;
	background-position: bottom;
	border-bottom: 1px solid #111;
	color: #fff;
	@include clearfix;

	.image-filter {
		background: rgba(0,0,0,.25);
	}

	.button{
		font-weight: normal;
		color: #fff;
		border-color: #fff;
	}

	#grow-daily-text{
		text-indent: -9999em;
		background-size: contain;
		height: 200px;
		width: 100%;
		max-width: 400px;
		background-image: url('../images/grow-daily-logo.png');
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 auto 1em;
	}
}

#home-worship{
	background-image: url('../images/worship-bg-600.jpg');
}

#home-sermons{
	background-image: url('../images/sermons-bg-600.jpg');
}

#home-leadership{
	background-image: url('../images/leadership-bg-600.jpg');
}

#home-whatif{
	background-image: url('../images/whatif-bg-600.jpg');
	text-align: center;

	img{
		margin: 0 auto 2em;
		display: block;
		max-width: 80%;
	}
}

#home-kids{
	position: relative;
	overflow: hidden;

	.text-wrapper{
		position: relative;
		z-index: 10;
	}

	.buttons{
		position: relative;
		z-index: 2;
	}

	.paint-splatter{
		opacity: .25;

		span{ 
			display: block; 
			position: absolute;
  			height: 100%;
  			width: 100%;
  			top: 0;
  			left: 0;
  			background-attachment: fixed;
  			background-repeat: no-repeat;

		}

		#orange{
			/*height: 296px;
			width: 237px;
			top: -85px;
			left: 120px;*/
			background-image: url('../images/home-kids-paint-orange.png');
			z-index: 1;
			background-position: 8% 14%;
		}

		#purple{
			background-image: url('../images/home-kids-paint-purple.png');
			/*height: 680px;
			width: 538px;
			top: -60px;
			left: 0;*/
			background-position: 0 10%;
		}

		#green{
			background-image: url('../images/home-kids-paint-green.png');
			/*height: 325px;
 			width: 579px;
  			right: 0px;
  			top: -105px;*/
  			background-position: 100% 15%;
		}

		#pink{
			background-image: url('../images/home-kids-paint-pink.png');
			/*height: 224px;
  			width: 209px;
  			bottom: 20px;
  			right: 10px;*/
  			background-position: 95% 95%;
		}

		#pink2{
			background-image: url('../images/home-kids-paint-pink-2.png');
			//height: 155px;
  			//width: 158px;
  			//bottom: 40px;
  			//right: 160px;
  			background-position: 85% 90%;
		}

	}
}



#home-locations{
	
	//MAKE ICONS COLOR ON HOVER
	.locations{
		margin-bottom: 4em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 800px;
		margin: 0 auto 4em;
		@include clearfix;
		
		a{ 
			text-decoration: none; 
			flex-basis: 33%;
			margin: 0 0 4em;
			flex-shrink: 0;
			//margin-bottom: 4em;
			
			dd{ 
				margin-top: .25em;
				color: #333; 
			}

			&:nth-child(2n+1){
				
				li{
					clear: left;
					margin-left: 0;
				}

			}
		}

		li{
			text-align: center;
			background-repeat: no-repeat;
			background-position: top center;
			padding-top: 170px;
			filter: grayscale(100%);
			
			&.apex{
				background-image: url(../images/apex-icon.jpg);
			}
			
			&.cary{
				background-image: url(../images/cary-icon.jpg);
			}
			
			&.espanol-apex{
				background-image: url(../images/espanol-apex-icon.png);
			}
			
			&.international{
				background-image: url(../images/international-icon.png);
			}
			
			&.espanol-cary{
				background-image: url(../images/espanol-icon.jpg);
			}
			
			&.fuquay{
				background-image: url(../images/fuquay-icon.jpg);
			}
			
			&.s-raleigh{
				background-image: url(../images/s-raleigh-icon.jpg);
			}
			
			&.n-raleigh{
				background-image: url(../images/n-raleigh-icon.jpg);
			}
			
			&.chapel-hill{
				background-image: url(../images/chapel-hill-icon.jpg);
			}
		}
		
		dt{
			font-size: 2em;
			color: $point-blue;
		}
	}
}

#map-canvas{
	display: none;
	height: 600px;

	&.expand{
		display: block;
	}

	.campus-name{
		font-size: 1.4em;
		margin-bottom: 1em;
	}
}



@media screen and (max-width: 650px){

	#home-locations{

		.locations{

			a{
				flex-basis: 50%;
			} 
		}
	}
}

@media screen and (max-width: 401px){
	
	
		#home-intro{
			padding: 2em 0;
		}
	
		.section{
	
			.section-head{
				font-size: 2.2em;
			}
	
			.head-desc{
				font-size: 1.4em;
			}
		}
		
		#home-locations {
	
			.locations {
	
				a {
					flex-basis: 100%;
					margin-bottom: 2em;
				}
			}
		}
	
	}

@media screen and (min-width: 800px){

	#home-intro{
		background-image: url('../images/home-intro-new-bg.jpg');
	}

	#home-grow-daily{
		background-image: url('../images/grow-daily-bg.jpg');
	}

	#home-worship{
		background-image: url('../images/worship-bg.jpg');
	}

	#home-sermons{
		background-image: url('../images/sermons-bg.jpg');
	}

	#home-leadership{
		background-image: url('../images/leadership-bg.jpg');
	}

	#home-whatif{
		background-image: url('../images/whatif-bg.jpg');
	}
}

@media screen and (max-width: 820px){
	
	#home-intro{
		height: auto;
		padding: 2em 0;

		h2{ 
			padding: 0 0 2em; 
			font-size: 2.5em; 
			line-height: 1.2em;

			dt{
				margin-bottom: 2em;
				width: 80%;
				margin: 0 auto 2em;
			}

		}
	}

	#home-kids{
		.paint-splatter span{
			z-index: -1!important;
		}
	}

	#home-locations .locations li{
		display: block;
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 1024px){

	#home-grow-daily{
		padding: 4em 0;

		.wrapper{
			width: 100%;
			padding: 2em;
			box-sizing: border-box;
			float: none;
		}
	}

}

