

#home-intro{
	background-image: url('../images/welcome-bg-600.jpg');
	height: 100vh;
	padding: 0;

	h2{
		font-family: 'myriad-pro';
		font-size: 4em;
		text-align: center;
		padding-top: 30vh;

		dt{
			text-indent: -9999em;
			background: url('../images/point-logo-large.png') bottom center no-repeat; 
			background-size: contain;
			height: 225px;
			margin-bottom: 1%;
		}

		dd{
			font-size: .8em;
		}
	}
		


}

#home-worship{
	background-image: url('../images/worship-bg-600.jpg');
}

#home-sermons{
	background-image: url('../images/sermons-bg-600.jpg');
}

#home-leadership{
	background-image: url('../images/leadership-bg-600.jpg');
}

#home-kids{
	position: relative;
	overflow: hidden;

	.buttons{
		position: relative;
		z-index: 2;
	}

	.paint-splatter{

		span{ 
			display: block; 
			position: absolute;
  			height: 100%;
  			width: 100%;
  			top: 0;
  			left: 0;
  			background-attachment: fixed;
  			background-repeat: no-repeat;

		}

		#orange{
			/*height: 296px;
			width: 237px;
			top: -85px;
			left: 120px;*/
			background-image: url('../images/home-kids-paint-orange.png');
			z-index: 1;
			background-position: 8% 14%;
		}

		#purple{
			background-image: url('../images/home-kids-paint-purple.png');
			/*height: 680px;
			width: 538px;
			top: -60px;
			left: 0;*/
			background-position: 0 10%;
		}

		#green{
			background-image: url('../images/home-kids-paint-green.png');
			/*height: 325px;
 			width: 579px;
  			right: 0px;
  			top: -105px;*/
  			background-position: 100% 15%;
		}

		#pink{
			background-image: url('../images/home-kids-paint-pink.png');
			/*height: 224px;
  			width: 209px;
  			bottom: 20px;
  			right: 10px;*/
  			background-position: 95% 95%;
		}

		#pink2{
			background-image: url('../images/home-kids-paint-pink-2.png');
			//height: 155px;
  			//width: 158px;
  			//bottom: 40px;
  			//right: 160px;
  			background-position: 85% 90%;
		}

	}
}



	#home-locations{

		//MAKE ICONS COLOR ON HOVER

		.locations{
			margin-bottom: 4em;

			a{ text-decoration: none; 

				dd{ color: #333; }
			}

			li{
				display: inline-block;
				width: 24%;
				text-align: center;
				background-repeat: no-repeat;
				background-position: top center;
				padding-top: 170px;
				@include filter(grayscale(100%));

				&.apex{
					background-image: url(../images/apex-icon.jpg);
				}

				&.cary{
					background-image: url(../images/cary-icon.jpg);
				}

				&.espanol{
					background-image: url(../images/espanol-icon.jpg);
				}

				&.raleigh{
					background-image: url(../images/raleigh-icon.jpg);
				}
			}

			dt{
				font-size: 2em;
				color: $point-blue;
			}
		}

	}

	#map-canvas{
		display: none;
		height: 600px;

		&.expand{
			display: block;
		}

		.campus-name{
			font-size: 1.4em;
			margin-bottom: 1em;
		}
	}

@media screen and (max-width: 1024px){
	
}

@media screen and (max-width: 820px){
	
	#home-intro{
		height: auto;
		padding: 2em 0;

		h2{ 
			padding: 0 0 2em; 
			font-size: 2.5em; 
			line-height: 1.2em;

			dt{
				margin-bottom: 2em;
				width: 80%;
				margin: 0 auto 2em;
			}

		}
	}

	#home-kids{
		.paint-splatter span{
			z-index: -1!important;
		}
	}

	#home-locations .locations li{
		display: block;
		width: 100%;
		margin-bottom: 2em;
	}
}

@media screen and (min-width: 800px){

	#home-intro{
		background-image: url('../images/welcome-bg.jpg');
	}

	#home-worship{
		background-image: url('../images/worship-bg.jpg');
	}

	#home-sermons{
		background-image: url('../images/sermons-bg.jpg');
	}

	#home-leadership{
		background-image: url('../images/leadership-bg.jpg');
	}
}

@media screen and (max-width: 401px){


	#home-intro{
		padding: 2em 0;
	}

	.section{

		.section-head{
			font-size: 2.2em;
		}

		.head-desc{
			font-size: 1.4em;
		}
	}

}