.news {

    &__post {
        a {
            text-decoration: none;
        }

        + .news__post {
            border-top: 1px solid #ccc;
            padding-top: 2em;
        }
    }
    .meta {
        margin-top: -1.5em;
        font-size: 1em;
        color: #999;
    }
}

.event {
    flex-basis: 22%;
    margin-right: 3%;
    margin-bottom: 2em;

    h3 {
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: none;
    }

    p {
        font-size: 1em;
        margin: 0;
    }
}

.events {
    display: flex;
    flex-wrap: wrap;

    h2 {
        flex-basis: 100%;
        font-size: 2em;
        margin-bottom: 1em;
    }

    a:hover img {
       opacity: 1; 
    }

    img {
        max-width: 100%;
        opacity: .8;
        transition: all .5s;
    }

    form {
        width: 100%;
        background: #eee;
        border: 1px solid #ccc;
        padding: 0 1em;
        margin: 0 0 2em;
    
        select {
            margin-bottom: 2em;
            border: 1px solid #ccc;
            font-size: 1em;
            margin: 0;
        
            option {
                background: #eee;
                border: 1px solid #ccc;
            }
        }
    
        button {
            cursor: pointer;
        }
    }
}