.page-section-head{

	span{ display: block; }

}

.page-section-subhead{
	font-size: 1.8em;
	margin-top: 2em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.page{

	section{
		padding: 4em 0;
		@include clearfix;
	}

	#campus-events{
		.section-head{
			font-weight: bold;
			text-decoration: none;
			color: #fff;
			border: none;
		}
	}

}



	.mission, .vision, .values{ margin-bottom: 6em; }

	.mission{
		background: url('../images/mission.png') no-repeat 0 0;
		padding-left: 250px;
		margin-left: -250px;
		min-height: 140px;
	}

	.vision{
		background: url('../images/vision.jpeg') no-repeat 0 0;
		padding-left: 250px;
		margin-left: -250px;
		min-height: 160px;
	}

	.values{
		background: url('../images/values.jpeg') no-repeat 0 0;
		padding-left: 250px;
		margin-left: -250px;
	}


#staff{
	@include clearfix;

	.profiles{
		@include clearfix;
	}

	li{
		width: 16%;
		margin:  2%;
		float: left;

		&:nth-child(5n+1){ clear: left; }

		dl{
			text-align: center;
			margin-top: 1em;
			line-height: 1.4em;

			dt{ color: $point-blue; font-size: 1.2em;}

			.location{
				color: #666;
				font-weight: 100;
			}
		}

		img{
			border-radius: 100%;
			border: 2px solid #aaa;
			width: 100%;
		}
	}
}

@media screen and (max-width: 1460px){
	#mission-vision-values{
		.mission, .vision, .values{
			background: none;
			min-height: 0;
		}
	}
}

.page-header{
		background: #333;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		position: relative;
		text-align: center;
		padding: 8em 0 4em;

		.header-filter{
			background: rgba(0, 0, 0, 0.25);
    		position: absolute;
    		top: 0;
    		left: 0;
    		height: 100%;
   			width: 100%;
		}



		.wrapper{
			position: relative;
		}
	}


.page, .styled-page{



	.featured-video{
		background: darken($point-blue,5%);
		padding: 2em;
		text-align: center;
		display: block;
	}

	h3{
		font-size: 2.4em;
		font-weight: 100;
		color: $point-blue;
		padding-bottom: .25em;
		margin-bottom: 1em;
		border-bottom: 1px solid #333;
		line-height: 1.2em;

		strong{ font-weight: 100; }
		em{ font-style: normal; }
	}

	h4{
		font-size: 1.8em;
		font-weight: 100;
		margin-bottom: 1em;
	}

	p + h3, ul + h3, ol + h3, .buttons + h3{
		margin-top: 1em; 
	}


}

.page section{

	ul{
		margin-bottom: 2em;
		li{
			list-style: disc;
			font-size: 1.2em;
			line-height: 1.4em;
			margin-bottom: 1em;
			margin-left: 2em;
		}
	}
	ol{
		margin-bottom: 2em;
		li{
			list-style: decimal;
			font-size: 1.2em;
			line-height: 1.4em;
			margin-bottom: 1em;
			margin-left: 2em;
		}
	}

}

.page .tiles{
	@include clearfix;
	margin: 0;
	padding: 0;

	

	.tile{
		float: left;
		height: 350px;
		position: relative;
		background-size: cover;
		background-position: center;

		&.two-by{
			width: 50%;
		}

		&.three-by{
			width: 33.3333%;
		}

		.tile-filter{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,.25);
			opacity: 1;
			transition: all .5s;
		}
		
		img{ width: 100%; }

		h3{
			font-size: 1.6em;
			text-align: center;
			padding: 0;
			position: relative;
			color: #000;
			margin: .5em 0 0;
			line-height: 1.2em;
			border: 0;
			background: rgba(255,255,255,.75);
			padding: .5em 0;
			transition: all .5s;
		}

		&:hover{
			.tile-filter{
				background: rgba(255,255,255,0);
			}

			h3{
				background: $point-blue;
				color: #fff;
			}
	}

	}
}

@media screen and (max-width: 1024px){

	.page, .styled-page{
		h3{
			font-size: 3em;
		}
	}

	.page-header{
		padding: 2em 0;

		.page-title{
			font-size: 4em;
		}
	}

	#campus-visit .map-info .location-info{
		padding: 2em; 
		background-image: none;
	}

	#staff li{
		width: 29%;


		&:nth-child(5n+1){
			clear: none;
		}

		&:nth-child(3n+1){
			clear: left;
		}

	}
}

@media screen and (max-width: 820px){

	.page, .styled-page{
		h3{
			font-size: 2.4em;
		}
	}

	iframe{
		width: 100%!important;
		height: 250px;
	}

	.page-header{
		padding: 2em 0;

		.page-title{
			font-size: 2em;
		}
	}

	#campus-visit .map-info .location-info{
		position: static;
		border: none;
		border-bottom: 2px solid $point-blue;
		width: auto;
		padding: 1em 0;
		margin-bottom: 2em;
	}
	
	#campus-visit .visit-questions .question{
		float: none;
		width: 100%;
	}

	#campus-visit .visit-questions .question-title{
		font-size: 1.4em;

	}

	.page .tiles{

		a{ text-decoration: none; }

		.tile.two-by, .tile.three-by{
			width: 100%;
			float: none;
			margin: 0;
			padding: 0;
		}

		.tile h3{
			margin: 0;

		}
	}

	#staff li{
		width: 46%;

		&:nth-child(3n+1){
			clear: none;
		}

		&:nth-child(5n+1){
			clear: none;
		}

		&:nth-child(2n+1){
			clear: left;
		}

	}
	
}
