.blog{

    max-width: 800px;
    margin: 0 auto;

    h2{
        font-size: 1.6em;
        margin-top: .25em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 1em;
    }

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    .meta{
        margin-top: -1em;
        color: #666;
        font-weight: 100;
        font-size: 1em;
    }
    

}